apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: dokdok-server
  template:
    metadata:
      labels:
        run: dokdok-server
    spec:
      containers:
      - image: {{ .Values.image }}
        name: helloworld
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
